body {
  margin:0px;
  background-image:url('../../images/draft/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:79px 79px;
  position:relative;
  left:-20px;
  width:350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:526px;
}
#u14 {
  position:absolute;
  left:20px;
  top:20px;
  width:350px;
  height:526px;
}
#u15 {
  position:absolute;
  left:2px;
  top:255px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u16 {
  position:absolute;
  left:45px;
  top:38px;
  width:300px;
  height:108px;
  opacity:0.62;
  font-size:20px;
  color:#000000;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:45px;
  top:183px;
  width:300px;
  height:50px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u18_input {
  font-family:'微软雅黑';
}
#u19 {
  position:absolute;
  left:45px;
  top:259px;
  width:300px;
  height:50px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u19_input {
  font-family:'微软雅黑';
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20 {
  position:absolute;
  left:45px;
  top:358px;
  width:300px;
  height:50px;
}
#u20_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20.mouseOver {
}
#u20_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u20.mouseDown {
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22 {
  position:absolute;
  left:45px;
  top:475px;
  width:300px;
  height:25px;
  opacity:0.62;
  font-size:12px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u24 {
  position:absolute;
  left:103px;
  top:69px;
  width:50px;
  height:47px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
